(function(window) {
    'use strict';
    window.firebaseConfig = {
        apiKey: "AIzaSyDKEGKISg1b4tBSZqTz_pRMbtjYL3XinX4",
        authDomain: "coffeerun-23e06.firebaseapp.com",
        databaseURL: "https://coffeerun-23e06.firebaseio.com",
        projectId: "coffeerun-23e06",
        storageBucket: "coffeerun-23e06.appspot.com",
        messagingSenderId: "305299098563",
        appId: "1:305299098563:web:8cb16cf557adc2bf7c4b76",
        measurementId: "G-XP0ZTDSR81"
    };

})(window);
